@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');


body {
  background: #000000;
  margin: 0;
  padding: 0;
}

app-admin,
app-products,
app-votes,
app-users,
app-ranking {
  background: #000000;
  min-height: 100vh;
  display: flex;
  width: 100%;
}

